:root {
	--dark-primary: #5cf0cc;
	--dark-primary-dark: #05e8b1;
	--dark-secondary: #06f;
	--dark-highlight: #cdfaef;
	--dark-hover: #394962;
	--dark-background: #1c1c1c;
	--dark-border: #374661;
}

.dropin-dark {
	background: #000;
}

.dropin-dark .adyen-checkout__dropin,
.dropin-dark .adyen-checkout__button.adyen-checkout__button--pay {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.dropin-dark .adyen-checkout__payment-method {
	background: var(--dark-background);
	border: 1px solid var(--dark-border);
}

.dropin-dark .adyen-checkout__payment-method--selected {
	background: var(--dark-background);
}

.dropin-dark
.adyen-checkout__payment-method:not(.adyen-checkout__payment-method--selected):hover {
	background: var(--dark-hover);
}

.dropin-dark
.adyen-checkout__payment-method
.adyen-checkout__payment-method__image {
	transition: box-shadow 0.3s ease-out;
}

.dropin-dark
.adyen-checkout__payment-method:not(.adyen-checkout__payment-method--selected):hover
.adyen-checkout__payment-method__image {
	box-shadow: 0 0 1px 1px #fff;
}

.dropin-dark
.adyen-checkout__payment-method
.adyen-checkout__payment-method__brands
.adyen-checkout__payment-method__image {
	box-shadow: none !important;
}

.dropin-dark
.adyen-checkout__payment-method:hover:not(.adyen-checkout__payment-method--selected)
.adyen-checkout__payment-method__radio {
	box-shadow: none;
}

.dropin-dark .adyen-checkout__payment-method__name {
	color: #fff;
}

.dropin-dark .adyen-checkout__button.adyen-checkout__button--pay {
	background: var(--dark-primary);
	color: #000;
	font-weight: bold;
}

.dropin-dark .adyen-checkout__button.adyen-checkout__button--pay:hover {
	background: var(--dark-primary-dark);
	box-shadow: none;
}

.dropin-dark
.adyen-checkout__button.adyen-checkout__button--pay
.adyen-checkout__button__icon {
	filter: invert(1);
	top: -2px;
	position: relative;
}

.dropin-dark
.adyen-checkout__payment-method__radio.adyen-checkout__payment-method__radio--selected {
	background-color: var(--dark-secondary);
}

.dropin-dark .adyen-checkout__dropdown__button--active,
.dropin-dark .adyen-checkout__dropdown__button--active:hover,
.dropin-dark .adyen-checkout__dropdown__button:active,
.dropin-dark .adyen-checkout__dropdown__button:focus {
	border: 1px solid var(--dark-primary);
	box-shadow: 0 0 0 2px var(--dark-highlight);
}

.dropin-dark .adyen-checkout__dropdown__list {
	background: var(--dark-hover);
	color: #fff;
}

.dropin-dark .adyen-checkout__dropdown__element:active,
.dropin-dark .adyen-checkout__dropdown__element:focus,
.dropin-dark .adyen-checkout__dropdown__element:hover {
	background: var(--dark-secondary);
}

.dropin-dark .adyen-checkout__dropdown__button,
.dropin-dark .adyen-checkout__input {
	background: var(--dark-hover);
	border-color: var(--dark-hover);
	color: #fff;
}

.dropin-dark .adyen-checkout__input--focus,
.dropin-dark .adyen-checkout__input--focus:hover,
.dropin-dark .adyen-checkout__input:active,
.dropin-dark .adyen-checkout__input:active:hover,
.dropin-dark .adyen-checkout__input:focus,
.dropin-dark .adyen-checkout__input:focus:hover {
	border: 1px solid var(--dark-primary);
	box-shadow: 0 0 0 2px var(--dark-highlight);
	caret-color: var(--dark-primary);
}

.dropin-dark .adyen-checkout__payment-method__radio,
.dropin-dark
.adyen-checkout__checkbox__input
+ .adyen-checkout__checkbox__label:after,
.dropin-dark .adyen-checkout__radio_group__label:before {
	background: var(--dark-hover);
	border: 1px solid var(--dark-hover);
}

.dropin-dark .adyen-checkout__label--focused .adyen-checkout__label__text {
	color: var(--dark-primary);
}

.dropin-dark
.adyen-checkout__radio_group__input:focus
+ .adyen-checkout__radio_group__label:before {
	border: 1px solid var(--dark-secondary);
	box-shadow: 0 0 0 2px var(--dark-highlight);
}

.dropin-dark
.adyen-checkout__radio_group__input:checked
+ .adyen-checkout__radio_group__label:before,
.dropin-dark .adyen-checkout__radio_group__label--selected {
	background: var(--dark-secondary);
}

.dropin-dark .adyen-checkout__label__text,
.dropin-dark .adyen-checkout__checkbox__label {
	color: #fff;
}

.dropin-dark
.adyen-checkout__checkbox__input:hover:not(:focus)
+ .adyen-checkout__checkbox__label:after {
	border-color: var(--dark-highlight);
	box-shadow: 0 0 0 2px var(--dark-hover);
}

.dropin-dark
.adyen-checkout__checkbox__input:checked
+ .adyen-checkout__checkbox__label:after {
	border: 1px solid var(--dark-secondary);
	background-color: var(--dark-secondary);
}

.dropin-dark
.adyen-checkout__checkbox__input:focus
+ .adyen-checkout__checkbox__label:after {
	border: 1px solid var(--dark-secondary);
	box-shadow: 0 0 0 2px #76aaf7;
}

.dropin-dark .adyen-checkout__field--consentCheckbox {
	background: var(--dark-background);
	border-color: var(--dark-hover);
}

.dropin-dark .adyen-checkout__link {
	color: var(--dark-secondary);
}

.dropin-dark .adyen-checkout__error-text {
	color: #ee5959;
}

.dropin-dark
.adyen-checkout-input__inline-validation--invalid
.adyen-checkout__icon {
	background: #b9c4c9;
	border-radius: 100%;
	box-shadow: 0 0 0 1px #b9c4c9;
}

.dropin-dark .adyen-checkout__input--error,
.dropin-dark .adyen-checkout__input--error:hover,
.dropin-dark .adyen-checkout__input--invalid,
.dropin-dark .adyen-checkout__input--invalid:hover,
.dropin-dark
.adyen-checkout__field--consentCheckbox.adyen-checkout__field--error {
	border-color: #ee5959;
}